{% extends "base.html" %}
{% block main %}
    <div class="card">
        <div class="card-header">Liste des non-abonnés</div>
        <div class="card-body">
          <!-- Default Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Enseignants</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false" tabindex="-1">Elèves</button>
                </li>
            </ul>
            <div class="tab-content pt-2" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

                
                    <div>
                        <table class="table table-bordered border-primary">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénoms</th>
                                    <th scope="col">Classe</th>
                                    <th scope="col">Sexe</th>
                                    <th scope="col" colspan="2" style="text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{student.lastname}}</td>
                                        <td>{{student.firstname}}</td>
                                        <td>{{student.classe.classe_name}}</td>
                                        <td>{{student.genre}}</td>
                                        <form method="POST" action="{% url 'abonner' student.id %}" style="display: flex; margin-left: 5px;">
                                                {% csrf_token %}
                                        <td style="width:180px;">
                                            <select aria-label="Default select example" name="type_abonnement_id"
                                                    id="type_abonnement_id1" class="form-control btn btn-info">
                                                <option value="">Type abonnement</option>
                                                {% for typeAbonnement in typeAbonnements %}
                                                    <option value="{{ typeAbonnement.id }}">{{ typeAbonnement.type }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="width:130px;">
                                           <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-cart-check-fill"> Abonner</i>
                                           </button>
                                        </td>
                                        </form>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div>
                        <table class="table table-bordered border-primary">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénoms</th>
                                    <th scope="col">Sexe</th>
                                    <th scope="col" colspan="2" style="text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for teacher in teachers %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{teacher.lastname}}</td>
                                        <td>{{teacher.firstname}}</td>
                                        <td>{{teacher.genre}}</td>
                                        <form method="POST" action="{% url 'abonner' teacher.id %}" style="display: flex; margin-left: 5px;">
                                                {% csrf_token %}
                                        <td style="width:180px;">
                                            <select aria-label="Default select example" name="type_abonnement_id"
                                                    id="type_abonnement_id2" class="form-control btn btn-info">
                                                <option value="">Type abonnement</option>
                                                {% for typeAbonnement in typeAbonnements %}
                                                    <option value="{{ typeAbonnement.id }}">{{ typeAbonnement.type }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="width:130px;">
                                           <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-cart-check-fill"> Abonner</i>
                                           </button>
                                        </td>
                                        </form>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- End Default Tabs -->

        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}