{% extends "base.html" %}
{% block main %}
    <div class="card">
        <div class="card-header">Liste des non-abonnés</div>
        <div class="card-body">
          <!-- Default Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Enseignants</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false" tabindex="-1">Elèves</button>
                </li>
            </ul>
            <div class="tab-content pt-2" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <!-- {% if messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                <h3 class="text-center">{{ message }}</h3>
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %} -->
                
                    <div>
                        <table class="table table-bordered border-primary">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénoms</th>
                                    <th scope="col">Classe</th>
                                    <th scope="col">Sexe</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{student.lastname}}</td>
                                        <td>{{student.firstname}}</td>
                                        <td>{{student.classe.classe_name}}</td>
                                        <td>{{student.genre}}</td>
                                        <td>
                                            <!-- <button type="button" id="btn-delete" class="btn btn-danger" data-bs-toggle="modal"
                                                    data-bs-target="#verticalycentered" data-student-id="{{ student.id }}">
                                                Abonner
                                            </button> -->
                                            <form method="POST" action="{% url 'abonner' student.id %}" style="display: flex; margin-left: 5px;">
                                                {% csrf_token %}
                                                <select aria-label="Default select example" name="type_abonnement_id" id="type_abonnement_id">
                                                    <option value="">Type abonnement</option>
                                                    {% for typeAbonnement in typeAbonnements %}
                                                        <option value="{{ typeAbonnement.id }}">{{ typeAbonnement.type }}</option>
                                                    {% endfor %}
                                                </select>
                                                <button type="submit" class="btn btn-danger" style="margin-left: 5px;">
                                                    Abonner
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <!-- {% if messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                <h3 class="text-center">{{ message }}</h3>
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %} -->

                    <div>
                        <table class="table table-bordered border-primary">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénoms</th>
                                    <th scope="col">Sexe</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for teacher in teachers %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{teacher.lastname}}</td>
                                        <td>{{teacher.firstname}}</td>
                                        <td>{{teacher.genre}}</td>
                                        <td>
                                            <!-- <button type="button" id="btn-delete" class="btn btn-danger" data-bs-toggle="modal"
                                                    data-bs-target="#verticalycentered" data-teacher-id="{{ teacher.id }}">
                                                    <a href="{% url 'app_cantine:abonner' teacher.id%}" style="text-decoration: none; outline: none;">Abonner</a>
                                            </button> -->
                                            <form method="POST" action="{% url 'abonner' teacher.id %}" style="display: flex; margin-left: 5px;">
                                                {% csrf_token %}
                                                <select aria-label="Default select example" name="type_abonnement_id" id="type_abonnement_id">
                                                    <option value="">Type abonnement</option>
                                                    {% for typeAbonnement in typeAbonnements %}
                                                        <option value="{{ typeAbonnement.id }}">{{ typeAbonnement.type }}</option>
                                                    {% endfor %}
                                                </select>
                                                <button type="submit" class="btn btn-danger" style="margin-left: 5px;">
                                                    Abonner
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- End Default Tabs -->

        </div>
    </div>

    <!--modale de suppression -->

      <div class="modal fade" id="verticalycentered" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <form action="{% url 'removeClasse' %}" method="POST">
                  {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title">Suppression de la classe</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="classe_id" id="classe_id">
                    <label> <strong>Etres vous sûr de vouloir supprimer cette classe ?</strong></label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-danger">Supprimer</button>
                </div>
              </form>
          </div>
        </div>
      </div><!-- End Vertically centered Modal-->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}