{% extends "base.html" %}
{% block main %}
    <div class="card">
        <div class="card-header">Création des classes par section </div>
        <div class="card-body">
          <!-- Default Tabs -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false" tabindex="-1">Niveaux</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Classes</button>
            </li>
          </ul>
          <div class="tab-content pt-2" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
              <form method="POST" action="niveaux">
                {% csrf_token %}
                  <br>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Section</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="section">
                    </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Créer</button>
                  <button type="reset" class="btn btn-secondary">Annuler</button>
                </div>
              </form><!-- End Horizontal Form -->
            </div>
            <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <form method="POST" action="{% url 'app_cantine:classes' %}">
            {% csrf_token %}
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="id_niveau">Section</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example" name="niveau_id" id="id_niveau">
                    <option value="">Aucune</option>
                    {% for niveau in niveaux %}
                    <option value="{{ niveau.id }}">{{ niveau.name }}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="id_classe">Classe</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example" name="classe" id="id_classe">

                  </select>
                </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Créer</button>
              <button type="reset" class="btn btn-secondary">Annuler</button>
            </div>
          </form><!-- End Horizontal Form -->
            </div>
          </div><!-- End Default Tabs -->

    </div>
    </div>
    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <h3 class="text-center">{{ message }}</h3>
            {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div>
      <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Section</th>
            <th scope="col">Classe</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{classe.niveau.name}}</td>
            <td>{{classe.classe_name}}</td>
            <td>
                <button type="button" id="btn-delete" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#verticalycentered" data-classe-id="{{ classe.id }}">
                <i class="bi bi-archive-fill" ></i>
          </button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>

    <!--modale de suppression -->

      <div class="modal fade" id="verticalycentered" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <form action="{% url 'app_cantine:removeClasse' %}" method="POST">
                  {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title">Suppression de la classe</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="classe_id" id="classe_id">
                    <label> <strong>Etres vous sûr de vouloir supprimer cette classe ?</strong></label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-danger">Supprimer</button>
                </div>
              </form>
          </div>
        </div>
      </div><!-- End Vertically centered Modal-->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Options de classe initiales
    var classes = {
        1: ["PS", "MS", "GS"],
        2: ["CI", "CP", "CE1", "CE2", "CM1", "CM2"],
        3: ["6ème", "5ème", "4ème", "3ème"],
        4: ["2nde", "1ère", "Tle"],
    };

    var niveauSelect = $('#id_niveau');
    var classeSelect = $('#id_classe');

    // Mettre à jour les options de classe en fonction du niveau sélectionné
    niveauSelect.on('change', function() {
        var selectedNiveau = $(this).val();
        classeSelect.empty(); // Effacer les anciennes options
        if (selectedNiveau in classes) {
            var classeOptions = classes[selectedNiveau];
            classeOptions.forEach(function(option) {
                classeSelect.append($('<option>', {value: option, text: option}));
            });
        }
    });
});
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    /*
$(document).ready(function() {
    $('.delete-btn').click(function() {
        var classe_id = $(this).data('classe-id');

        // Afficher un modal de confirmation
        if (confirm("Êtes-vous sûr de vouloir supprimer cet élément ?")) {
            // Si l'utilisateur confirme la suppression, redirigez vers la vue de suppression
            window.location.href = '/supprimer-classe/' + classe_id + '/';
        }
    });
});
  */
    $(document).on('click', '#btn-delete', function (){
        let classe_id = $(this).data('classe-id');
        $('#classe_id').val(classe_id)
    });
</script>

{% endblock %}