{% extends "base.html" %}
{% block main %}
  {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <h3 class="text-center">{{ message }}</h3>
            {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  {% if edite %}
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


      </div>
    </div>
  {% endif %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Liste des gestionnaires</h5>

      <!-- Table with stripped rows -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom et Prénoms</th>
            <th scope="col">Nom d'utilisateur</th>
            <th scope="col">Statut</th>
            <th scope="col">Adresse mail</th>
            <th scope="col">Date d'enregistrement</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for manager in managers %}
          <tr>
            <th scope="row">{{forloop.counter}} {{manager.id}}</th>
            <td>{{manager.last_name}} {{manager.first_name}}</td>
            <td>{{manager.username}}</td>
            {% if manager.is_superuser == 1%}
                <td>Administrateur</td>
            {% else %}
                <td>Gérand</td>
            {% endif %}
            <td>{{manager.email}}</td>
            <td>{{manager.date_joined}}</td>
            <td>
              <button type="button" class="btn btn-primary edit-button" data-toggle="modal"
                      data-target="#modal-modification" data-user-id="{{ manager.id }}">
                      <i class="bi bi-pencil-square" > Éditer </i>
                </button>
              <button type="button" id="btn-delete" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#verticalycentered" data-manager-id="{{ manager.id }}">
                <i class="bi bi-archive-fill" ></i> </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- End Table with stripped rows -->

      <!-- Modal de modification -->
      <div class="modal fade" id="modal-modification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modifier les informations de l'utilisateur</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                       <div class="modal-body">
                        <!-- Formulaire de modification -->
                        <form method="post" action="{% url 'app_cantine:updateManager' %}">
                            {% csrf_token %}
                          <input type="hidden" name="managerId" id="managerId">
                          <div class="col-12">
                            <label for="username" class="form-label">Nom d'utilisateur</label>
                            <div class="input-group has-validation">
                              <input type="text" name="username" class="form-control" id="username" required="">
                            </div>
                          </div>
                          <div class="col-12">
                            <label for="last_name" class="form-label">Nom de famille</label>
                            <div class="input-group has-validation">
                              <input type="text" name="last_name" class="form-control" id="last_name" required="">
                            </div>
                          </div>
                          <div class="col-12">
                            <label for="first_name" class="form-label">Prénoms</label>
                            <div class="input-group has-validation">
                              <input type="text" name="first_name" class="form-control" id="first_name" required="">
                            </div>
                          </div>
                          <div class="col-12">
                            <label for="email" class="form-label">Adresse mail</label>
                            <div class="input-group has-validation">
                              <input type="email" name="email" class="form-control" id="email" required="">
                            </div>
                          </div>
                          <div class="col-12">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" name="password" class="form-control" id="password">
                          </div>
                          <div class="col-12">
                            <label for="password2" class="form-label">Mot de passe</label>
                            <input type="password" name="password2" class="form-control" id="password2">
                          </div>

                          <div class="col-12">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="is_superuser" value="1" id="is_superuser">
                              <label class="form-check-label" for="is_superuser">Super utilisateur</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Enregistrer</button>
                          </div>
                        </form>

                      </div>
                    </div>
          </div>
      </div>


    <!--modale de suppression -->

      <div class="modal fade" id="verticalycentered" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <form action="{% url 'app_cantine:removeManager' %}" method="POST">
                  {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title">Suppression d'un gestionnaire</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="manager_id" id="manager_id">
                    <label> <strong>Etres vous sûr de vouloir supprimer cet gestionnaire ?</strong></label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-danger">Supprimer</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    <!-- End Vertically centered Modal-->

    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on('click', '#btn-delete', function (){
        let manager_id = $(this).data('manager-id');
        $('#manager_id').val(manager_id)
    });
    //Edition des utilisateurs
    $(document).ready(function() {
    $(".edit-button").click(function() {
        let userId = $(this).data("user-id");
        $('#managerId').val(userId);
        let form = $("#modal-modification form");
        // Utilisez une requête AJAX pour récupérer les informations de l'utilisateur
        $.ajax({
            url: '/get_manager_info/' + userId + '/',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                // Remplissez le formulaire avec les données récupérées
                form.find('input[name="username"]').val(data.username);
                form.find('input[name="last_name"]').val(data.last_name);
                form.find('input[name="first_name"]').val(data.first_name);
                form.find('input[name="email"]').val(data.email);
                // Ajoutez d'autres champs ici
            },
            error: function() {
                // Gérez les erreurs de requête AJAX ici
            }
        });
        // Une fois les données chargées, affichez le modal
        $("#modal-modification").modal("show");
        });
    });

</script>

{% endblock %}